/* *Reset CSS */
* { /* ** để select tất cả các thẻ */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { /* thẻ co chữ thì kế thừa thôi */
    font-family: Arial, Helvetica, sans-serif;/* lần lượt thử các font nào có thì dùng */
}

.clear-float {
    clear: both;
}

/* 
* 1. Từ ngoài vào trong
* 2. Từ trên xuống dưới
* 3. Tổng quan đến chi tiết
*/

/* 
* 1.Vị trí
* 2.Kích thước (with, height)
* 3.Màu sắc
* 4.Kiểu dáng (Kiểu chữ, hình tròn, hình vuông)
*/

/* Common */

.text-white {
    color: white !important;
}
 .text-center {
     text-align: center !important; 
 }

 .row {
     margin-left: -8px;
     margin-right: -8px;
 }

 .col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

 .col-third {
    width: 33.33333333%;
}

.col-half {
    width: 50%;
}

#main {

}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* ?tăng độ sau của ảnh trục z, fix lỗi ảnh slide nổi trên navigation  */
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: red;
}

#header .search-icon {
    color: white;
    line-height: 46px;
    
}

#nav {
    display: inline-block;

}

/* ?nav bên trong thằng header nên viết bên dưới thằng header */
#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;

}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    
}

#nav li a {
    text-decoration: none; /* ? khi đặt giá trị của thuộc tính là unset, trình duyệt sẽ sử dụng một trong hai thuộc tính inherit hoặc initial tùy thuộc vào thuộc tính của phần tử cha. Nếu phần tử cha có các thuộc tính đó, nó sẽ kế thừa (inherit) giá trị thuộc tính từ phần tử cha, nếu không có thì unset sẽ sử dụng giá trị mặc định của trình duyệt (initial) */
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a { /* ?hover thẻ li theo kinh nghiệm để không bị mất hover khi trỏ sang thẻ con */
    color: black;
    background-color: #ccc;
}


#nav .subnav {
    display: none; /* ?ẩn đi */
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: white;
    box-shadow: 0 0 10px black;
}

#nav .subnav li {
    
}

#nav .subnav a {
    color: black;
    display: block;
    padding-left: 12px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#slider {
    /* min-height: 2000px;
    background-color: beige; */
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* ?% khác với px: padding top 50% chiều ngang của chính */
    background: url("/Project_w3_band/assets/img/slider/slider1.jpg") top center / cover; /* ?cách viết gộp sau phần gạch chéo là back groud size. top với cen ter viết tắt cho attribute position */
    /* ?xem lại cách viết nhanh trong bài 21-24 background */
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: white;
    left: 50%; /* ?Cách bằng 1/2 with */
    transform: translateX(-50%); /* ?xem các cách ở phần html css tips */
    /* *right = 0 c1
        left = 0 c1
        with = 100% c2 */
    text-align: center;
}

#slider .text-heading {
    font-weight: 500px;
    font-size: 24px;
}

#slider .text-decription {
    font-size: 15px;
    margin-top: 25px;
}


#content {
    min-height: 500px;
    background-color: bisque;
}

#content .content-section {
    width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 15px;
    text-align: center; /* ?căn text ra giữa */
    font-weight: 500; /* ?cho chữ mỏng đi */
    letter-spacing: 4px; /* ?khoảng cách chữ cais */
}

#content .section-sub-heading {
    text-align: center;
    margin-top: 25px;
    font-style: italic; /* ?kiểu chữ */
    opacity: 0.6; /* ?độ mờ của chữ */
}

#content .about-text {
    margin-top: 25px;
    text-align: justify; /* ?justify căn đều 2 lề trái phải */
    line-height: 1.4;/* ?chỉnh độ cao 1 dòng (tiếng anh 1.4, tiếng việt: 1.6) */

}

#content .member-list {
    margin-top: 48px;
    text-align: center; /* ?text-align: để sắp xếp nội dung theo chiều ngang */
    /* !overflow: hidden; */ /*Dùng thuộc tính này để thằng cha ôm 3 thằng con có thuộc tính float vẫn có thể ôm trọn 3 thằng con | Thực tế người ta hay dùng clearfloat đặt ngay sau thằng con cuối  */
}

#content .member-item {/* ?Đặt tên css:luôn đi từ thằng cha ( đi 2-3 cấp thôi) */
    float: left;
    /* width: 33.33333%;  *//* ? dùng float ==> 3 item cộng lại cho bằng 100%  */
    width: calc(100%/3);
}

#content .member-name {

}

#content .member-img {
    width: 154px; /* ?Đặt width thì ảnh height tự động đc chỉnh và ngược lại */
    margin-top: 15px;
    border-radius: 5px;
}

/* tour section */

.tour-section {
    background-color: black;
}

.ticket-list {
    margin-top: 40px;
    list-style: none; /* ?Bỏ giấu chấm của thẻ li */
    background-color: white;
}

.ticket-list li {
    color: #757575;
    font-size: 15px; /* set fontsize trước rồi padding */
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336; 
    color: #fff;
    padding: 3px 4px;
    margin-left: 8px;

}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center; /* ?center: căn giữa từ trái sang phải theo chiều ngang */
    line-height: 24px; /* ?căn giữa từ trên xuống dưới */
    /* ?vì line height 24px > thằng li nên bị lệch xuống dưới */
    margin-top: -3px; /* ?Một thẻ đang có tính chất inline mà thêm float thành thẻ block => mới đặt được with height, margin */
    
}

/* place */
.place-list {
    margin-top: 32px;
    margin-bottom: 48px;
}

.place-item {
    /* float: left; */
    /* width: 33.33333%; */ /* ?vì ảnh kích cỡ to hơn with nên muốn cho nổi cùng 1 dòng thì dùng như vậy */
}

.place-img {
    width: 100%; /* ?vì ảnh img to hơn ảnh chứa nó: set with 100% = thẻ chứa nó */
    padding: 0 8px;

    display: block; /* ?img đang có tính chất inline: bị khoảng hở đen | Thường xảy xa khi trong phần tử có 1 thằng inline đứng gần thằng block */
}

.place-img:hover{
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    margin: 0 8px;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-description {
    margin-top: 15px;
    line-height: 1.4; /* ?tiếng anh line height1.6, tiếng việt line-height: 1.4; */
}

.place-buy-btn {
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin: 15px 0 0;
}

.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

/* *Contact form */

.contact-content {
    margin-top: 46px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {  /* ?css selector nâng cao thẻ i có class chứa "ti-" | i[class*="ti-"] */
 width: 34px;
 display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* *footer-section */

#footer {

}
 