/* *Reset CSS */
* { /* ** để select tất cả các thẻ */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { /* thẻ co chữ thì kế thừa thôi */
    font-family: Arial, Helvetica, sans-serif;/* lần lượt thử các font nào có thì dùng */
}

/* 
* 1. Từ ngoài vào trong
* 2. Từ trên xuống dưới
* 3. Tổng quan đến chi tiết
*/

/* 
* 1.Vị trí
* 2.Kích thước (with, height)
* 3.Màu sắc
* 4.Kiểu dáng (Kiểu chữ, hình tròn, hình vuông)
 */
#main {

}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* ?tăng độ sau của ảnh trục z, fix lỗi ảnh slide nổi trên navigation  */
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: red;
}

#header .search-icon {
    color: white;
    line-height: 46px;
    
}

#nav {
    display: inline-block;

}

/* ?nav bên trong thằng header nên viết bên dưới thằng header */
#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;

}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    
}

#nav li a {
    text-decoration: none; /* ? khi đặt giá trị của thuộc tính là unset, trình duyệt sẽ sử dụng một trong hai thuộc tính inherit hoặc initial tùy thuộc vào thuộc tính của phần tử cha. Nếu phần tử cha có các thuộc tính đó, nó sẽ kế thừa (inherit) giá trị thuộc tính từ phần tử cha, nếu không có thì unset sẽ sử dụng giá trị mặc định của trình duyệt (initial) */
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a { /* ?hover thẻ li theo kinh nghiệm để không bị mất hover khi trỏ sang thẻ con */
    color: black;
    background-color: #ccc;
}


#nav .subnav {
    display: none; /* ?ẩn đi */
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: white;
    box-shadow: 0 0 10px black;
}

#nav .subnav li {
    
}

#nav .subnav a {
    color: black;
    display: block;
    padding-left: 12px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#slider {
    /* min-height: 2000px;
    background-color: beige; */
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* ?% khác với px: padding top 50% chiều ngang của chính */
    background: url("/Project_w3_band/assets/img/slider/slider1.jpg") top center / cover; /* ?cách viết gộp sau phần gạch chéo là back groud size. top với cen ter viết tắt cho attribute position */
    /* ?xem lại cách viết nhanh trong bài 21-24 background */
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: white;
    left: 50%; /* ?Cách bằng 1/2 with */
    transform: translateX(-50%); /* ?xem các cách ở phần html css tips */
    /* *right = 0 c1
        left = 0 c1
        with = 100% c2 */
    text-align: center;
}

#slider .text-heading {
    font-weight: 500px;
    font-size: 24px;
}

#slider .text-decription {
    font-size: 15px;
    margin-top: 25px;
}


#content {
    min-height: 500px;
    background-color: bisque;
}

#content .content-section {
    width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 15px;
    text-align: center; /* ?căn text ra giữa */
    font-weight: 500; /* ?cho chữ mỏng đi */
    letter-spacing: 4px; /* ?khoảng cách chữ cais */
}

#content .section-sub-heading {
    text-align: center;
    margin-top: 25px;
    font-style: italic; /* ?kiểu chữ */
    opacity: 0.6; /* ?độ mờ của chữ */
}

#content .about-text {
    margin-top: 25px;
    text-align: justify; /* ?justify căn đều 2 lề trái phải */
    line-height: 1.4;/* ?chỉnh độ cao 1 dòng (tiếng anh 1.4, tiếng việt: 1.6) */
}

#footer {

}
